<h1>Moja lista gier</h1>
<div class="container">
  <button mat-button (click)="addNewGame()">Add new game</button>
  <div *ngFor="let game of games" class="game">
    <span><img src="{{ game.imageUrl }}" alt="{{ game.imageUrl }}" /></span>
    <span>{{ game.name }}</span>
    <span>{{ game.isDigital }}</span>
    <span>{{ game.gamePlatform }}</span>
    <button class="btn-delete" type="button" (click)="delete(game.id)">
      <i class="fa-solid fa-trash fa-2xs"></i>
    </button>
    <a [routerLink]="['/details', game.id]" class="href-edit">Edit game </a>
  </div>
</div>
